shamefully-hoist=true
strict-peer-dependencies=false
//registry.npmjs.org/:_authToken=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
//npm.greensock.com/:_authToken=f4e3fcd0-a616-4d7b-87ff-912ac9cc0673
@gsap:registry=https://npm.greensock.com
